pandas==2.2.2
streamlit==1.47.1
streamlit-option-menu==0.3.6
altair == 5.4.0
numpy == 1.26.4
pydeck == 0.8.1b0
pymongo == 4.13.0
geopandas == 1.0.1
geopy == 2.4.1
haversine == 2.8.1
openpyxl == 3.1.5
xlsxwriter == 3.0.1
